/* ---------------Colors-------------- */

:root{
    --main-bg--:#e6d596;
    --scnd-bg--:#b45c64;
    --cards----:#a7b9d3;
}

/* --------Header--------- */


header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: var(--scnd-bg--);
}
.pokeapi{
    margin: 20px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/background.png");
    min-height: 78.5vh;
}


/* -----------Nav----------- */

nav{
   width: 300px;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
   margin-right: 30px;
}

a{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid var(--main-bg--);
    border-bottom: none;
    background-color: rgb(227, 227, 227);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.4s ease;
    color: #a7b9d3;
    font-weight: bold;
}
a:hover, .actived{
    height: 40%; 
    color: black;
}

.error{
    position: fixed;
    width: 100%;
    height: 100%;
    border-top: 2px solid grey;
}

/* -------Login--------- */

.login-container{
    position: fixed;
    width: 100%;
    height: 100vh;;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
}

.register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 35%;
    height: 45%;
    margin-right: 10px;
    background-color: goldenrod;
    padding:20px;
    border-radius: 20px;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.inputRegister{
    width: 200px;
}

.close-window{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 10px;
    user-select: none;
    transition: .2s ease-out;
}

.close-window:hover {
    animation: girar 0.3s ease;
  }

@keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(20deg)
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
      transform: rotate(-20deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

.btn-register{
    padding: 0.2em 0.8em;
    border-radius: 5px;
    border: 2px solid rgb(162, 119, 8);
    font-size: 1.1em;
    color: #1162ac;
    transition: .3s ease;
    font-weight: bolder;
}

.btn-register:hover{
    border: 2px solid #1162ac;
    font-size: 1.3em;
    color: goldenrod;
}

.pikachu-login{
    position: fixed;
    right: -50px;
    bottom: -80px;
    width: 150px;
    height: 275px;
    transform:scaleX(-1);
    z-index: -1;
}

.eevee-login{
    position: fixed;
    left: -60px;
    bottom: -80px;
    width: 175px;
    height: 275px;
    z-index: -1;
}

/*----------Home--------- */

.home-container{
    height: 86vh;
    background: var(--scnd-bg--);
    background: linear-gradient(180deg, var(--scnd-bg--) 0%, rgba(255,201,0,1) 100%);
    position: relative;
    border-top: 2px solid grey;
}

.pika-container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    pointer-events: none;
}
.eevee-container{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 30%;
    height: 60%;
    background-color: rgba(255,149,0,0.6);
    margin-top: 60px;
    padding: 30px;
    border-radius: 30%;
    border: 10px solid var(--main-bg--);
    font-weight: bold;
    color: rgb(60, 60, 60);
    line-height: 25px;
    text-align: justify;
    background-image: url("./images/background.png");
}

.info button{
    width: 35%;
    padding: 10px 0px;
    border-radius: 15px;
    font-size: 1.2em;
    color: #b45c64;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.info button:hover{
    color: black;
    font-weight: bold;
    background-color: var(--cards----); 
    border: 2px solid greenyellow;
    cursor: pointer;
}


/* --------Pokedex-------- */

.main-container{
    display: flex;
    justify-content: center;
}

.generationsButton {
    height: 40px;
    margin: 70px 30px;
    border-radius: 5px;
    color: #1162ac;
    background-color:var(--cards----);
    font-weight: bold;
    border: 1px solid #f36220;
    transition: .2s ease-in;
    padding: 0px 10px;
}

button:hover{
    color: #f36220;
    border: 1px solid #1162ac;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    border-left: 10px solid var(--scnd-bg--);
    border-right: 10px solid var(--scnd-bg--);
    border-bottom: 10px solid var(--scnd-bg--);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    background-color: rgba(230, 213, 150, 0.7);
}

.search{
    position: absolute;
    display: flex;
    align-items: center;
    left: 10px;
    margin-top: 20px;
}

svg{
    background-color:  rgba(230, 213, 150);
    height: 20px;
    width: 20px;
    border-radius: 30%;
    margin-right: 10px;
    padding: 10px;
    color: white;
}

input{
    padding: 7px 2px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.25);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    outline: none;
}

input::placeholder{
    color: silver;
}

input:focus{
    background-color:  rgba(230, 213, 150);
    color: white;
}

input:focus::placeholder{
    color:goldenrod;
}

.container-card{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 250px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 25px;
    transition: .8s ease;
    cursor: pointer;
}
.pokemon-name{
    flex: content;
    padding-left: 15px;
    color: rgb(81, 81, 81);
    user-select: none;
}

span{
    color: rgb(144, 144, 144);
    padding-right: 5px;
    font-size: 0.8em;
}

.card:hover{
    background-color: var(--cards----);
    border: 2px solid var(--scnd-bg--);
}

.generationsButtonRowRight, .generationsButtonRowLeft{
    display: none;
}


/* -------------Fitxa------------- */

section{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
}

.pokecard{
    width: 30%;
    height: 75vh;
    margin-top: 2.6rem;
    border-radius: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -2;
    position: relative;
}

h3{
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.header-card{
    position: absolute;
    width: 100%;
    height: 20vh;
    z-index: -3;
    background-color: white;
    background-image: url("./images/header-card.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.header-backcard{
    position: absolute;
    width: 100%;
    height: 20vh;
    z-index: -1;
    opacity: .6;
}

.heart{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

.favorite{
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.6em;
    cursor: pointer;
    user-select: none;
    color: black;
}
  
.pokecard .header-image {
    width: 35%;
    border: 15px solid whitesmoke;
    border-radius: 30%;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

h1{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6em;
    color: rgba(0,0,0,.8);
}

h2{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.poke-type{
    width: 125px;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    background-color: darkblue;
    border: 1px solid thistle;
    padding: 2px;
    border-radius: 2rem;

}

.poke-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    height: 30%;
}


.card-footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
   
}

.card-footer-social{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-stats{
    display: flex;
    width: 90%;
    padding: 5px;
    border-radius: 40%;
    line-height: 20px;
    color: rgba(0,0,0,.8);
}

.icons-power{
    width: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}



@media (max-width: 1300px) {
   
    .search{
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .container{
        border-top: 10px solid var(--scnd-bg--);
        border-radius: 15px;
    }
}

@media (max-width: 1100px) {
   
    .pokecard{
        width: 40%;
    }
    .info button{
        width: 175px;
        padding: 10px 10px;
    }
    
 
}
@media (max-width: 850px) {
   
    .pokecard{
        width: 50%;
    }
    
}

@media (max-width: 700px) {
   
    .info{
        width: 50%;
    }

    header{
        flex-direction: column;
        align-items:center;
        text-align: center;
    }

    svg{
        background-color:  transparent;
        margin-right: 0px;
        padding: 10px;
        color: #1162ac;
    }

    .pokecard{
        width: 60%;
    }
    


}
@media (max-width: 500px){

    .generationsButton {
        margin: 70px 0px;
        border-radius: 0px;
        padding: 0px;
    }

    svg{
        padding:10px 10px;
    }


    .generationsButtonRowLeft{
        display:block;
        border-bottom-left-radius:10px;
        border-top-left-radius:10px;
        border: 2px solid #f36220;
        border-right: none;
    }
    .generationsButtonRowRight{
        display:block;
        border-bottom-right-radius:10px;
        border-top-right-radius:10px;
        border: 2px solid #f36220;
        border-left: none;
    }

    .generationsButtonText{
        display: none;
    }

    .pokecard{
        width: 70%;
    }

    .poke-type{
        width: 125px;
    }
    .inputRegister{
        width: 95%;
    }
}

@media (max-width: 400px) {
   
    nav{
        width: 350px;
        margin-right: 0px;
     }

    .info{
        width: 70%;
    }

    
    .card{
        width: 175px;
        transition: 0s;
    }

    .pokecard{
        width: 90%;
    }

    h1{
        margin: 0;
    }

    .types{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .poke-type{
        width: 200px;
    }
}

@media (max-width: 276px) {

    .pokecard{
        height: 75%;
    }

    .poke-stats{
       margin: 0;
    }

    .poke-type{
        width: 80%;
    }
}
@media (max-width: 183px) {

    .pokecard{
        height: 90%;
    }
}